<div class="form">
    <h2>Form</h2>
    <form action=".">
        <p>
            Name: <input type="text" name="name" autofocus required />
            <br />
            Email: <input type="email" name="email" required />
            <br />
            URL: <input type="url" name="url" placeholder="Write a personal page URL" />
            <br />
            Date: <input type="date" name="date" />
            <br />
            Telephone: <input type="tel" name="telephone" />
            <br />
            Favorite colour: <input type="color" name="color" />
            <br />
            <input type="submit" value="Submit!" />
        </p>
    </form>
</div>
