<h3>Settings page</h3>
<p>Button Test</p>
<p id="demo" style="display:none">Hello World!</p>

<button type="button" onclick="document.getElementById('demo').style.display='block'">Show Text!</button>

<button type="button" onclick="document.getElementById('demo').style.display='none'">Hide Text!</button>